{
  "server":	"tcp://free.mqtt.shiguredo.jp:1883",
  "serverauth": {
    "username": "shirou@github",
	"password": "secret",
  },
  "confroot": "/etc/mqagent",
  "topicroot": "shirou@github.com/mqvision",
  "subscriptions": [
    "base"
  ]
}
